@import '../../global.scss';

.todo-item {
	display: flex;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;

	i {
<<<<<<< HEAD
		color: $themeColor;
=======
		color: #2473e7;
>>>>>>> df949c2c14ab2c1d25bb04389dffc0f927f83549
	}

	&:hover {
		.remove {
			opacity: 1;
		}
	}

	.check-circle {
		width: 32px;
		height: 32px;
		border-radius: 16px;
<<<<<<< HEAD
		border: 1px solid $themeColor;
=======
		border: 1px solid #2473e7;
>>>>>>> df949c2c14ab2c1d25bb04389dffc0f927f83549
		font-size: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		cursor: pointer;

		&.done {
			border: 1px solid gray;
			color: gray;

			i {
				color: gray;
			}
		}
	}

	.text {
		flex: 1;
		font-size: 21px;
		color: black;
	}

	.remove {
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: gray;
		font-size: 24px;
		cursor: pointer;

		&:hover {
			color: red;
		}
	}
}
