@import '../../global.scss';

.todo-item {
	display: flex;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;

	i {
		color: $themeColor;
	}

	&:hover {
		.remove {
			opacity: 1;
		}
	}

	.check-circle {
		width: 32px;
		height: 32px;
		border-radius: 16px;
		border: 1px solid $themeColor;
		font-size: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		cursor: pointer;

		&.done {
			border: 1px solid gray;
			color: gray;

			i {
				color: gray;
			}
		}
	}

	.text {
		flex: 1;
		font-size: 21px;
		color: black;
	}
}
