@import '../../global.scss';

.todo-head {
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 30px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;

	h1 {
		margin: 0;
		font-size: 40px;
		color: $themeColor;
	}

	.todo-left {
		margin-top: 15px;
		margin-left: 5px;
		font-size: 18px;
	}
}

@media (max-width: 480px) {
	.todo-head {
		padding-top: 20px;

		h1 {
			font-size: 28px;
		}
	}
}
