.todo-template {
<<<<<<< HEAD
	margin-top: 30px;
	width: 40%;
	max-width: 600px;
	height: 75vh;
=======
	width: 40%;
	height: 80vh;
>>>>>>> df949c2c14ab2c1d25bb04389dffc0f927f83549

	position: relative;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 20px gray;
<<<<<<< HEAD
=======

	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;

>>>>>>> df949c2c14ab2c1d25bb04389dffc0f927f83549
	display: flex;
	flex-direction: column;

	@media (max-width: 1000px) {
		width: 60%;
		height: 80vh;
	}

	@media (max-width: 480px) {
		width: 95%;
		height: 80vh;
	}
}
