.todo-template {
	margin-top: 30px;
	width: 40%;
	max-width: 600px;
	height: 75vh;

	position: relative;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 20px gray;
	display: flex;
	flex-direction: column;

	@media (max-width: 1000px) {
		width: 60%;
		height: 80vh;
	}

	@media (max-width: 480px) {
		width: 95%;
		height: 80vh;
	}
}
