@import './global.scss';

* {
	font-family: 'Noto Sans KR', sans-serif;
<<<<<<< HEAD
	overscroll-behavior: none;
}

body {
	background-color: $themeColor;
=======
	overscroll-behavior-y: none;
}

body {
	background-color: #2473e7;
>>>>>>> df949c2c14ab2c1d25bb04389dffc0f927f83549
}
